In [3]:
import pandas as pd
import numpy as np

In [4]:
correc_df = pd.read_csv('tabla_correccion.csv')
tabla = correc_df.values


sujetos = pd.read_csv('tabla_resultados.csv')


percentil = pd.read_csv('tabla_percentil.csv')
sujetos.head()

percentil = pd.read_csv('tabla_percentil.csv')
percentil.head()
percentil_v = pd.read_csv('tabla_percentil_varon.csv')
percentil_v.tail()
percentil_m = pd.read_csv('tabla_percentil_mujer.csv')
percentil_m.tail()

    percentil  agresivoV  controlV  pasivoV
7          70         13        19        9
8          80         16        21       11
9          90         18        22       13
10         99         29        25       21
11        100        100       100      100

In [5]:



columna = 0
suj = []
lista = []
numerico = pd.DataFrame(columns=sujetos.columns)
print(numerico)

for column in sujetos.columns[:]:
 
    fila = 0
    for items in sujetos[column]:
        
        #print (items)
        match (items):
            case "A":
              lista.append (tabla[fila][0])  
            case "B":
              lista.append(tabla[fila][1])
            case "C":
               lista.append(tabla[fila][2])
            case "D":
               lista.append(tabla[fila][3])
            case "E":
              lista.append(tabla[fila][4])

        fila +=1
    #print (lista)

    numerico[column] = lista
    se = pd.Series(lista)
   
    lista.clear()
    columna += 1
numerico.head()

Empty DataFrame
Columns: [Suje1, Suje2, Suje3, Suje4]
Index: []

   Suje1  Suje2  Suje3  Suje4
0     -2      2     -2     -2
1     -1      1     -1     -2
2      2      0      0     -1
3      1     -2      1     -2
4      0     -1      2     -1

In [6]:
clasificado = pd.DataFrame(columns=sujetos.columns)


for column in numerico.columns[:]:
    asertivo=0
    pasivo=0
    agresivo=0
    fila = 0
    for items in numerico[column]:
        if items == 0:
            asertivo +=1
        elif items >0 :
            agresivo = agresivo + items
        else :
            pasivo -= items
    clasificado[column] = [asertivo,pasivo,agresivo]
print (clasificado)

   Suje1  Suje2  Suje3  Suje4
0      5      5     11      9
1     18     17     18     22
2     16     18      8      0

In [7]:
# La tabla de percentiles
tabla_percentiles = {
    'percentil': [1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 99,100],
    'agresivoV': [0, 2, 4, 5, 6, 7, 9, 13, 16, 18, 29,100],
    'controlV': [4, 7, 10, 12, 13, 15, 18, 19, 21, 22, 25,100],
    'pasivoV': [0, 1, 1, 2, 3, 4, 6, 9, 11, 13, 21, 100]
}

df_percentiles = pd.DataFrame(tabla_percentiles)

df_percentiles.head()

   percentil  agresivoV  controlV  pasivoV
0          1          0         4        0
1         10          2         7        1
2         20          4        10        1
3         30          5        12        2
4         40          6        13        3

In [8]:
# Tu DataFrame de resultados de la encuesta
data = {
    'Suje1': [5, 18, 16],
    'Suje2': [5, 17, 18],
    'Suje3': [11, 18, 8],
    'Suje4': [9, 22, 0]
}
df_encuesta = pd.DataFrame(data)

df_encuesta.head()

   Suje1  Suje2  Suje3  Suje4
0      5      5     11      9
1     18     17     18     22
2     16     18      8      0

In [9]:

df_encuesta = clasificado
df_encuesta.head()

   Suje1  Suje2  Suje3  Suje4
0      5      5     11      9
1     18     17     18     22
2     16     18      8      0

In [10]:

     # Función para calcular el percentil correspondiente
def calcular_percentil(valor, tipo_comportamiento):
    percentil = df_percentiles[df_percentiles[tipo_comportamiento] >= valor]['percentil'].min()
    return percentil if percentil is not None else 100

In [11]:
calcular_percentil(5, 'agresivoV')

30

In [12]:
# bAsado en  series no en series de series 
# Calcular percentiles para cada sujeto en el DataFrame de la encuesta
#for col in df_encuesta.columns:
#    for index, valor in df_encuesta[col].items():
#        agresivo_percentil = calcular_percentil(valor, 'agresivoV')
#        control_percentil = calcular_percentil(valor, 'controlV')
#        pasivo_percentil = calcular_percentil(valor, 'pasivoV')
#        print(f"Sujeto: {col}, Valor: {valor}, Percentil Agresivo: {agresivo_percentil}, Percentil Control: {control_percentil}, Percentil Pasivo: {pasivo_percentil}")

In [13]:

# Función para calcular el percentil correspondiente
#def calcular_percentil(valor, tipo_comportamiento):
 #   percentil = df_percentiles[df_percentiles[tipo_comportamiento] >= valor][tipo_comportamiento].iloc[0]
 #   return percentil if percentil is not None else 100

In [14]:
# series de series 
data = {
    'Suje1': [[5, 18, 16]],
    'Suje2': [[5, 17, 18]],
    'Suje3': [[11, 18, 8]],
    'Suje4': [[9, 22, 0]]
}
df_encuesta = pd.DataFrame(data)
df_encuesta.head()

         Suje1        Suje2        Suje3       Suje4
0  [5, 18, 16]  [5, 17, 18]  [11, 18, 8]  [9, 22, 0]

In [18]:
# Calcular percentiles para cada sujeto en el DataFrame de la encuesta
for col in df_encuesta.columns:
    for index, valores in df_encuesta[col].items():
        control_percentil = calcular_percentil(valores[0], 'controlV')
        pasivo_percentil = calcular_percentil(valores[2], 'pasivoV')
        agresivo_percentil = calcular_percentil(valores[1], 'agresivoV')
        print(f"Sujeto: {col}, Valor Control: {valores[0]}, Percentil Control: {control_percentil}")
        print(f"Sujeto: {col}, Valor Pasivo: {valores[2]}, Percentil Pasivo: {pasivo_percentil}")
        print(f"Sujeto: {col}, Valor Agresivo: {valores[1]}, Percentil Agresivo: {agresivo_percentil}")

Sujeto: Suje1, Valor Control: 5, Percentil Control: 10
Sujeto: Suje1, Valor Pasivo: 16, Percentil Pasivo: 99
Sujeto: Suje1, Valor Agresivo: 18, Percentil Agresivo: 90
Sujeto: Suje2, Valor Control: 5, Percentil Control: 10
Sujeto: Suje2, Valor Pasivo: 18, Percentil Pasivo: 99
Sujeto: Suje2, Valor Agresivo: 17, Percentil Agresivo: 90
Sujeto: Suje3, Valor Control: 11, Percentil Control: 30
Sujeto: Suje3, Valor Pasivo: 8, Percentil Pasivo: 70
Sujeto: Suje3, Valor Agresivo: 18, Percentil Agresivo: 90
Sujeto: Suje4, Valor Control: 9, Percentil Control: 20
Sujeto: Suje4, Valor Pasivo: 0, Percentil Pasivo: 1
Sujeto: Suje4, Valor Agresivo: 22, Percentil Agresivo: 99

In [20]:

# Lista para almacenar los resultados de cada sujeto
resultados = []

# Calcular percentiles para cada sujeto en el DataFrame de la encuesta
for col in df_encuesta.columns:
    for index, valores in df_encuesta[col].items():
        control_percentil = calcular_percentil(valores[0], 'controlV')
        pasivo_percentil = calcular_percentil(valores[2], 'pasivoV')
        agresivo_percentil = calcular_percentil(valores[1], 'agresivoV')
        
        # Guardar los resultados en un diccionario
        resultados.append({
            'Sujeto': col,
            'Valor Control': valores[0],
            'Percentil Control': control_percentil,
            'Valor Pasivo': valores[2],
            'Percentil Pasivo': pasivo_percentil,
            'Valor Agresivo': valores[1],
            'Percentil Agresivo': agresivo_percentil
        })

# Convertir la lista de resultados en un DataFrame
df_resultados = pd.DataFrame(resultados)

# Mostrar el DataFrame con los resultados
print(df_resultados)

  Sujeto  Valor Control  Percentil Control  Valor Pasivo  Percentil Pasivo  \
0  Suje1              5                 10            16                99
1  Suje2              5                 10            18                99
2  Suje3             11                 30             8                70
3  Suje4              9                 20             0                 1

   Valor Agresivo  Percentil Agresivo
0              18                  90
1              17                  90
2              18                  90
3              22                  99

In [17]:
df_resultados[control_percentil].plot()

KeyError: 20